<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6PbASB13MpR78n5cnAdasX5vtO2j1Ttc</string>
	<key>GCM_SENDER_ID</key>
	<string>812369616205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackLu</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-e0df5</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-e0df5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812369616205:ios:15133f0e7d3d3b40fd2b04</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-app-e0df5-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>